<ul>
  <li> <a [routerLink]="['/']"> Home </a> </li>
  <li> <a [routerLink]="['/user']"> user </a> </li>
  <li> <a [routerLink]="['/article']"> article </a> </li>
  <li> <a [routerLink]="['/monaco']"> monaco </a> </li>
  <li> <a [routerLink]="['/nz-monaco']"> nz monaco </a> </li>
  <li> <a [routerLink]="['/ace']"> ace </a> </li>
  <li> <a [routerLink]="['/codejar']"> codejar </a> </li>
  <li> <a [routerLink]="['/anchor']"> anchor </a> </li>
  <li> <a [routerLink]="['/todos']"> todos </a> </li>
  <li> <a [routerLink]="['/template-expression']">template expression</a> </li>
  <li> <a [routerLink]="['/code-highlight']">code highlight</a> </li>
  <li> <a [routerLink]="['/ngmodel']">ngmodel</a> </li>
  <li> <a [routerLink]="['/dynamic-component']">dynamic component</a> </li>
</ul>
<router-outlet></router-outlet>
<div  class="content"></div>
<div>
  <span>
    <input type="radio" name="colors" (click)="color='lightgreen'" />Green
    <input type="radio" name="colors" (click)="color='yellow'" /> <span [ngClass]="{active: color === 'yellow'}" >Yellow</span>  
    <input type="radio" name="colors" (click)="color='cyan'" />Cyan
  </span>
</div>
<div *ngUnless="color === 'yellow'">
  <div [appHighlight]="color" (click)="changeTitle()" defaultColor="yellow" >changeTitle {{ 1 + 1 }} </div>
</div>
<app-mission></app-mission>
<app-mission-astronaut></app-mission-astronaut>
