@use 'src/styles';
:host ::ng-deep span {
	font-weight: bold;
}

ul {
	padding-left: 0;
	li {
		display: inline-block;
		margin-right: 10px;
		text-transform: capitalize;
	}
}
.content {
	margin-bottom: 100px;
    color: styles.$black;
}
