<div>
  <a [routerLink]="['/user']">
    link to user component
  </a>
</div>
<div>
  <span>
    <input type="radio" name="colors" (click)="color='lightgreen'" />Green
    <input type="radio" name="colors" (click)="color='yellow'" /> <span [ngClass]="{active: color === 'yellow'}" >Yellow</span>  
    <input type="radio" name="colors" (click)="color='cyan'" />Cyan
  </span>
</div>
<div *ngUnless="color === 'yellow'">
  <div [appHighlight]="color" (click)="changeTitle()" defaultColor="yellow" >changeTitle {{ 1 +1 }} </div>
</div>
<div class="active">
  <app-article></app-article>
</div>
<app-mission></app-mission>
<router-outlet></router-outlet>
<!-- <app-mission-astronaut></app-mission-astronaut> -->
