<ul>
  <li> <a [routerLink]="['/']"> Home </a> </li>
  <li> <a [routerLink]="['/user']"> user </a> </li>
  <li> <a [routerLink]="['/article']"> article </a> </li>
</ul>
<router-outlet></router-outlet>
<div>
  <span>
    <input type="radio" name="colors" (click)="color='lightgreen'" />Green
    <input type="radio" name="colors" (click)="color='yellow'" /> <span [ngClass]="{active: color === 'yellow'}" >Yellow</span>  
    <input type="radio" name="colors" (click)="color='cyan'" />Cyan
  </span>
</div>
<div *ngUnless="color === 'yellow'">
  <div [appHighlight]="color" (click)="changeTitle()" defaultColor="yellow" >changeTitle {{ 1 + 1 }} </div>
</div>
<app-mission></app-mission>
<app-mission-astronaut></app-mission-astronaut>
